<!DOCTYPE html>
<html>
    <head>
        <title>Recipes</title>
    </head>
    <body>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in instances %}
                    <tr>
                        <td>{{ instance.vendor }}</td>
                        <td>{{ instance.total }}</td>
                        <td>{{ instance.tax }}</td>
                        <td>{{ instance.date|date:"m/d/YY" }}</td>
                        <td>{{ instance.category.name }}</td>
                        <td>{{ instance.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
