<!DOCTYPE html>
<html>
    <head>
        <title>Logout page</title>
    </head>
    <body>
        <main>
            <div>
                <h1>Logout</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Logout</button>
                </form>
            </div>
        </main>
    </body>
</html>
